body {
  background-color: rgb(68, 68, 68);
  color: #fff;
}

.bodyf{
  background: url('../img/header2.jpg') no-repeat;
}
.bodym{
  background: url('../img/fondomaltrato.jpg') no-repeat;
  background-size: cover;
}
.navbar {
  border-bottom: #00a2ca 3px solid;
}

/*Seccion de inicio donde esta ancapsulada la imagen principal */
#home-section {
  background: url('../img/header1.jpg') no-repeat;
  height: 60%;
  min-height: 60vh;
  background-size: cover;
  background-attachment: fixed;
}
/* Cuadro negro que hace cover encima de imagen HEADER */

  /* .dark-overlay {
  background-color: rgba(1, 8, 8, 0.664);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60%;
}   */

.home-inner {
  padding-top: 150px;
}
@media (max-width: 992px) {
  .home-inner {
    padding-top: 100px;
  }
}

/* Botones Facebook e Instagram */
ul{
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li{
  position: relative;
  list-style: none;
  width: 30px;
  height: 30px;
  margin: 0 20px;
  transform: rotate(-30deg) skew(25deg);
  background-color: #ccc;
}

ul li span{
  position: absolute;
  top: 0;
  left: 0;
  width:  100%;
  height: 100%;
  background-color: #000;
  transition: 0.5s;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px !important;
}

ul li:hover span:nth-child(5){
  transform: translate(15px, -15px);
  opacity: 1;
}

ul li:hover span:nth-child(4){
  transform: translate(15px, -15px);
  opacity: .8;
}

ul li:hover span:nth-child(3){
  transform: translate(10px, -10px);
  opacity: .6;
}

ul li:hover span:nth-child(2){
  transform: translate(5px, -5px);
  opacity: .4;
}

ul li:hover span:nth-child(1){
  transform: translate(0px, 0px);
  opacity: .2;
}

ul li:nth-child(1) span{
  background-color: #3b5999;
}

ul li:nth-child(2) span{
  background-color: #ff0040;
}

/* FIN Botones Facebook e Instagram */

.borderedondo{
  border-radius: 25px;
  border: #000 solid 2px;
  }

  .sep{
    padding-left: 2px;
  }

.tamaño{
  width: 300px;
  height: 150px;
}

.parrafos{
   background-color: rgba(0, 0, 0, 0.5); 
   padding-bottom: 10px;
   border-radius: 2px;
  
}



